/* Importer les styles globaux */
@import "../../styles/global.css";

/* Styles spécifiques pour le composant DialogueBox */
.dialogue-box {
  animation: dialogueFadeIn 2s forwards;
}

.dialogue-box p {
  color: white;
  margin: 0;
  font-size: 2vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 2.5;
  text-align: center;
}

.dialogue-triangle {
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 1vw solid white;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  animation: bounce 1s infinite;
}

.infernal-font {
  font-family: "InfernalFont", cursive;
  font-size: 3vw;
  text-align: center;
}

.infernal-font p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  line-height: 1.5;
  letter-spacing: 0.3vw;
}

.choices-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media queries pour ajuster la taille de la police sur les petits écrans */
@media (max-width: 600px) {
  .dialogue-box {
    font-size: 4vw;
  }

  .dialogue-box p {
    font-size: 4vw;
  }

  .infernal-font {
    font-size: 5vw;
  }

  .infernal-font p {
    font-size: 5vw;
  }
}
