/* Importer les styles globaux */
@import "../../styles/global.css";

/* Styles spécifiques pour le composant NameInput */
.name-input-container {
  animation: fadeIn 2s forwards;
}

.name-input-container.fade-out {
  animation: fadeOut 2s forwards;
}

.name-input-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.name-input-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input-container input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}
