@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "./global.css"; /* Importer les styles globaux */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}
