body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: black;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  animation: twinkle 2s infinite alternate;
}

.shooting-star {
  position: absolute;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  animation: twinkle 2s infinite alternate, shooting 2s linear;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
  50% {
    opacity: 0.5;
    transform: translate(1px, 1px);
  }
}

@keyframes shooting {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(var(--end-x), var(--end-y));
  }
}
