/* Styles pour le composant Message */
.message {
  position: fixed; /* Position fixe pour centrer le message */
  top: 50%; /* Centrer verticalement */
  left: 50%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Ajuster pour centrer exactement */
  font-size: 2vw; /* Taille de la police en fonction de la largeur de la fenêtre */
  color: white; /* Couleur du texte */
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir légèrement transparent */
  padding: 20px; /* Espacement interne */
  border-radius: 10px; /* Coins arrondis */
  opacity: 0; /* Initialement invisible */
  animation: messageFadeIn 2s forwards, messagePulse 3s 2s infinite; /* Animation d'apparition et de pulsation */
  white-space: nowrap; /* Empêcher le texte de passer à la ligne */
}

/* Animation d'apparition */
@keyframes messageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation de pulsation */
@keyframes messagePulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Classe pour l'animation de disparition */
.message.fade-out {
  animation: messageFadeOut 2s forwards; /* Animation de disparition */
}

/* Animation de disparition */
@keyframes messageFadeOut {
  from {
    opacity: var(--start-opacity, 1);
  }
  to {
    opacity: 0;
  }
}

/* Media queries pour ajuster la taille de la police sur les petits écrans */
@media (max-width: 600px) {
  .message {
    font-size: 4vw; /* Augmenter la taille de la police pour les petits écrans */
    white-space: normal; /* Permettre au texte de passer à la ligne sur les petits écrans */
  }

  .desktop-message {
    display: none; /* Masquer le message de bureau sur les petits écrans */
  }

  .mobile-message {
    display: block; /* Afficher le message mobile sur les petits écrans */
  }
}

@media (min-width: 601px) {
  .mobile-message {
    display: none; /* Masquer le message mobile sur les écrans de bureau */
  }

  .desktop-message {
    display: block; /* Afficher le message de bureau sur les écrans de bureau */
  }
}
